<h1> New public holiday </h1>
<div class="row">
  <div class="col-md-12">
    <div class="box box-body" id="table-content">
      <div> 
      		Company
      </div>
      <div>
      	<select class="form-control" tabindex="-1">
                  <option>IBS VN</option>
                  <option>IBS OKINAWA</option>
                </select>
      </div>
      <div>
      		Name
      </div>
      <div>
      		<input type ="text" class="form-control" /> 
      </div>
      <div>
      		Month
      </div>
      <div>
      	<select class="form-control" tabindex="-1">
      		<option selected="selected"> ---  </option>
                  <option>1</option>
                  <option>2</option>
                </select>
      </div>
      <div>
      		Day
      </div>
      <div>
      	<select class="form-control" tabindex="-1">
      		<option selected="selected"> ---  </option>
                  <option>1</option>
                  <option>2</option>
                </select>
      </div>
      <div>
          Day type
      </div>
      <div>
        <select class="form-control" tabindex="-1">
          <option selected="selected"> ---  </option>
                  <option>Holiday</option>
                  <option>Working day</option>
                </select>
      </div>
    </div>
  </div>
</div>
 <input type ="button" class ="btn btn-primary" value ="Save"/> 
  <input type ="button" class ="btn btn-primary" value ="Back"/> 