		
<div class="row">
  <div class="col-xs-12">
  <h1>Users</h1>
    <div class="box">
      <div style="margin-top: 10px; margin-bottom: 10px; border-bottom: 2px solid #dddddd; display: -webkit-box;">
        <!-- user name -->
        <div class="col-sm-4 col-md-2 form-group">
          <label>Staff name</label>
          <input type="text" class="form-control" placeholder="Staff name">
        </div>
        <!-- select company -->
        <div class="col-sm-4 col-md-2 form-group">
          <label>Company name</label>
          <select class="form-control">
            <option></option>
            <option>IBSVN</option>
            <option>IBSGB</option>
            <option>IBSC</option>
            <option>IBSS</option>
          </select>
        </div>
        <div class="col-sm-4 col-md-2 form-group">
          <label>Staff code</label>
          <input type="text" class="form-control" placeholder="Staff code">
        </div>
        <div class="col-sm-4 col-md-2 form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email">
        </div>

        <div class="col-sm-4 col-md-2" style="margin-top: 25px;">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>

        <!-- Button trigger modal -->
        <div class="col-sm-4 col-md-2" style="margin-top: 15px;">
          <%= link_to new_user_path, remote: true do %>
          <button type="button" id="addNew" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newModal">Add new</button>
          <% end %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <!-- <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new staff</h4>
              </div>
              <%#= render 'form', user: @user %>
            </div>
          </div> -->
        </div>
        <!-- end modal -->

      </div>
      
      <!-- table -->
      <div class="box-body" id="table_content">
        <%= render 'table', users: @users %>
      </div>

    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
  var newModalHtml;
  $(document).ready(function() {
      newModalHtml = $('#newModal').clone().html();
  });

  $('#addNew').click(function (e) {
   $($('#newModal').find('.btn-primary#save')).show();
    $($('#newModal').find('.btn-primary#save')).text("Add")
    $($('#newModal').find('.btn-primary#cancel')).removeClass('btn-primary').addClass('btn-default');
    
    $('#newModal').on('shown.bs.modal', function () {
      $($('#newModal').find('#myModalLabel')).text("Add New Staff");
      $($('#newModal').find('#staffName')).removeAttr('disabled')
      $($('#newModal').find('#email')).removeAttr('disabled');
      $($('#newModal').find('#staffCode')).removeAttr('disabled');
      $($('#newModal').find('#companyName')).removeAttr('disabled');
      $($('#newModal').find('#birthday')).removeAttr('disabled');
      $($('#newModal').find('#gender')).removeAttr('disabled');

      $($('#newModal').find('#staffName')).val('');
      $($('#newModal').find('#email')).val('');
      $($('#newModal').find('#staffCode')).val('');
      $($('#newModal').find('#companyName')).val('');  
    });
  });

  /*$('i[data-toggle="modal"]').click(function (e) {
  if (e.target) {        
    var record = $('#'+e.target.id).closest('tr');
      switch(e.target.id) {
        case "view":
        {

            $($('#newModal').find('.btn-primary#save')).hide();
            $($('#newModal').find('.btn-default#cancel')).removeClass('btn-default').addClass('btn-primary');
            $('#newModal').on('shown.bs.modal', function () {
            $($(this).find('#myModalLabel')).text("Staff Profile");

            $($(this).find('#staffName')).val($(record.find('.staff_name')).text());
            $($(this).find('#staffName')).attr('disabled', 'disabled');
            $($(this).find('#email')).val($(record.find('.email')).text());
            $($(this).find('#email')).attr('disabled', 'disabled');
            $($(this).find('#staffCode')).val($(record.find('.staff_code')).text());
            $($(this).find('#staffCode')).attr('disabled', 'disabled');
            $($(this).find('#companyName')).val($(record.find('.company_name')).text());
            $($(this).find('#companyName')).attr('disabled', 'disabled');
            $($(this).find('#birthday')).attr('disabled', 'disabled');
            $($(this).find('#gender')).attr('disabled', 'disabled');
          });
          break;
        }
        case "edit":
        {
            $($('#newModal').find('.btn-primary#save')).show();
            $($('#newModal').find('.btn-primary#save')).text("Save changes");
            $($('#newModal').find('.btn-primary#cancel')).removeClass('btn-primary').addClass('btn-default');

          $('#newModal').on('shown.bs.modal', function () {
            $($(this).find('#myModalLabel')).text("Edit Staff Profile");

            $($(this).find('#staffName')).removeAttr('disabled')
            $($(this).find('#email')).removeAttr('disabled');
            $($(this).find('#staffCode')).removeAttr('disabled');
            $($(this).find('#companyName')).removeAttr('disabled');
            $($(this).find('#birthday')).removeAttr('disabled');
            $($(this).find('#gender')).removeAttr('disabled');

            $($(this).find('#staffName')).val($(record.find('.staff_name')).text());
            $($(this).find('#email')).val($(record.find('.email')).text());
            $($(this).find('#staffCode')).val($(record.find('.staff_code')).text());
            $($(this).find('#companyName')).val($(record.find('.company_name')).text());  
          });
          break;
        }
      }
    }
});*/
</script>