
<div class="col-md-6">
<div class="box box-info" style="margin-top:10px">
               <!-- <div class="box-header with-border">
                  <h3 class="box-title">Horizontal Form</h3>
                </div>-->
                <!-- /.box-header -->
                <!-- form start -->
               
  <form class="form-horizontal">
    <div class="box-body">
   
      <div class="form-group">
        <label for="datetimepicker1" class="col-sm-3 "  >Start at</label>
        <div class="col-sm-5">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" placeholder="2015/07/07 8:1:0"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
           <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datepicker();
            });
            </script>
           </div>
      </div>

      <div class="form-group">
        <label for="datetimepicker2" class="col-sm-3 " >end at</label>
        <div class="col-sm-5">
        <div class='input-group date' id='datetimepicker2' >
          <input type='text' class="form-control" placeholder="2015/07/07 9:1:0" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
           <script type="text/javascript">
          $(function () {
              $('#datetimepicker2').datepicker();
            });
            </script>
           </div>
      </div>
      <div class="form-group">
         <label for="Name" class="col-sm-3" >Authority</label>
          <div class="col-sm-5">
             <select style="width:165px; height:34px">
                  <option >Aprrover</option>
                  <option>Member</option>
              </select>
          </div>
      </div>
     
     
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <!-- /.box-footer -->
  </form>
 
</div>
</div>

       

