<%= javascript_include_tag 'jquery-1.3.2.min.js','jquery-ui.js','jquery.js', 'application' %>
<%=stylesheet_link_tag 'jquery-ui.css','application'%>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script type="text/javascript">
  $(function() {
    

    $( "#btnShowModal" ).click(function() {
    $( "#dialog" ).dialog({
        open: function(event, ui) { 
            //hide titlebar.
            $(this).parent().children('.ui-dialog-titlebar').hide();
        }
    });
    
    });

  });
  </script>

 <button type="submit" id="btnShowModal" class="btn btn-primary">+</button> 
  <div id="dialog" title="Basic dialog" hidden style="background:blue">
   
        <select style="width:200px;height:34px">
                  <option >Hito Manager</option>
                  <option>Hito talent</option>
                  <option>Genersis</ooption>
                  <option>Career exhance</option>
        </select>
        <button style="margin-top:10px" type="submit" id="btnShowModal" class="btn btn-primary">Add</button> 
</div>
