<div class="col-md-6">
<div class="box box-info" style="margin-top:10px">
               <!-- <div class="box-header with-border">
                  <h3 class="box-title">Horizontal Form</h3>
                </div>-->
                <!-- /.box-header -->
                <!-- form start -->
               
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="Name" class="col-sm-3" >Name</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="Name" placeholder="Nguyen van A">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="datetimepicker1" class="col-sm-3 "  >Start at</label>
                      <div class="col-sm-5">
                      <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" placeholder="2015/07/07 8:1:0"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                         <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datepicker();
                          });
                          </script>
                         </div>
                    </div>

                    <div class="form-group">
                      <label for="datetimepicker2" class="col-sm-3 " >end at</label>
                      <div class="col-sm-5">
                      <div class='input-group date' id='datetimepicker2' >
                        <input type='text' class="form-control" placeholder="2015/07/07 9:1:0" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                         <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker2').datepicker();
                          });
                          </script>
                         </div>
                    </div>
                    <div class="form-group">
                      <label for="Name" class="col-sm-3 " >Notice</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="Name" placeholder="join project">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="Name" class="col-sm-3" >Status</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="Name" placeholder="open">
                      </div>
                    </div>
                   
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                  <!-- /.box-footer -->
                </form>
               
              </div>
</div>

       

