<section class="content-header">
        <!-- <h1></h1> -->
<h1>Project</h1>
<br>
</section>

<div class="row">
  <div class="col-md-12">
    <div class="box" id="table-content">
    	<div class="box-body no-padding ranking-table">
    	<div class="col-md-12" >
	    	<br>
	    	<!--<div class="col-md-10">-->
	    	<div class="box" id="table-content" >
	     		 <%= render partial: 'table' %>
	       </div>

	   </div>
	   </div>
	   <div class="after">
			<!--<button type="submit" class="btn btn-primary">New Project</button> -->
			<%= link_to 'new project', new_project_list_path, class:"btn btn-primary" %>    
		</div>
    </div>
  </div>
</div>
