<section class="content-header">
        <!-- <h1></h1> -->
<h1>Project</h1>
<br>
</section>

<div class="row">
  <div class="col-md-12">
    <div class="box" id="table-content">
    	<div class="box-body no-padding ranking-table">
    	<div class="col-md-12" >
	    	<br>
	    	<!--<div class="col-md-10">-->
	    	<div class="box" id="table-content" >
	     		 <%= render partial: 'form' %>

	       </div>
	       <!--<div class="row">
  					<div class="col-md-12">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>-->
          <div class="row">
            <div class="col-md-12">
                <%= link_to 'Back', project_list_index_path %>
            </div>
          </div>
                  <!-- /.box-footer -->
	   </div>
	   </div>
	  
    </div>
  </div>
</div>
