<style>
  a {
    color: #3c8dbc;
  }
  a:visited {
    color:#3c8dbc;
  }
  .box-body {
    background-color: white;
  }
</style>
<div class="box-body">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped" id="ranking-table">
      <tbody>
        <tr>
          <th>Project Name</th>
          <th>User Name</th>
          <th>Current Status</th>
          <th>Date</th>
          <th></th>
        </tr>
        <tr>
          <td>GENESIS</td>
          <td>Nguyen Van Canh</td>
          <td>Finish Input</td>
          <td>2015/07/23</td>
          <td><a href="#"><i class="fa fa-link"></i></a></td>
        </tr>
        <tr>
          <td>GENESIS</td>
          <td>Nguyen Ngoc Quy</td>
          <td>Finish Input</td>
          <td>2015/07/22</td>
          <td><a href="#"><i class="fa fa-link"></i></a></td>
        </tr>
        <tr>
          <td>GENESIS</td>
          <td>Le Thi A</td>
          <td>Account rejected</td>
          <td>2015/07/22</td>
          <td><a href="#"><i class="fa fa-link"></i></a></td>
        </tr>
        <tr>
          <td>GENESIS</td>
          <td>Nguyen Phuong Hai</td>
          <td>Approved</td>
          <td>2015/07/22</td>
          <td><a href="#"><i class="fa fa-link"></i></a></td>
        </tr>
        <tr>
          <td>Hito-talent</td>
          <td>Nguyen Van A</td>
          <td>Manager rejected</td>
          <td>2015/07/22</td>
          <td><a href="#"><i class="fa fa-link"></i></a></td>
        </tr>
        <tr>
          <td>Hito-talent</td>
          <td>Le Thi Hoa Huong</td>
          <td>During Input</td>
          <td>2015/07/22</td>
          <td><a href="#"><i class="fa fa-link"></i></a></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- <div class="box-footer clearfix">
  <div class="paging text-center">
    <ul class="pagination pagination">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div> -->
