<div class="row">
  <div class="col-md-12">
    <div class="box" id="table-content">
      <%= render partial: 'filter' %>
      <%= render partial: 'table' %>

      <%= render partial: 'pagination' %>

    </div>
  </div>
</div>
