/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.login-box {
  margin: 10% auto;
}

.login-logo {
  width: 100%;
  margin-bottom: 10px !important;
}

.login-btn {
  background-color: #222d32 !important;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  /*background-color: #f5f5f5;*/
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 80px 15px 0;
}

.container .text-muted {
  margin: 5px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: center;
}

code {
  font-size: 80%;
}


.login-failure {
  color: red;
  margin-bottom: 20px;
}

.login-success {
  color: rgb(92, 184, 92);
  margin-bottom: 20px;
}
