  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_for @company,  url: m_company_path(page: page), remote: true do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Update Company</h1>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label for="inputEmail3" class="col-md-3 control-label">Company name</label>
              <div class="col-md-9">
                <%= f.text_field :name, class: "col-md-9"%>
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="inputEmail3" class="col-md-3 control-label">Note</label>
            <div class="col-md-9">
              <%= f.text_field :note, class: "col-md-9"%>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <%end%>
    </div>
  </div>
