<div class="row">
  <div class="col-md-12">
    <div class="box" id="table_content">
      <%= render 'table', companies: @companies %>
    </div>
  </div>
</div>
<div id="company_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


